<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oakland Crime Heat-Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    
</head>

<body>
    <div id="map"></div>

    <script>
        // Your Google Maps API key
        const apiKey = 'AIzaSyDEd0GPZ8z6hu3y8uT7qizEBFj_Nvqmmz0';
    
        // Initialize the map
        async function initMap() {
            try {
                map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 37.8049, lng: -122.2711 }, // Oakland coordinates
                zoom: 12,
                // styles: stylesArray,
            });
            
            const heatMapData = await getPoints();
            if (heatMapData.length === 0) {                                            
                      console.warn('Heatmap data is empty.');                          
                      return;                                                         
                  }

            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatMapData,
                map: map
            });
            } catch (error) {
                console.error('error initi map: ', error)
            }
         
        }
    
        // Use async/await to fetch data
        async function getPoints() {
            let heatMapData = [];
            try {
                // Fetch SF crime data from API
                const sfResponse = await fetch('https://data.sfgov.org/resource/wg3w-h783.json');
                if (!sfResponse.ok) throw new Error(`SF API error: ${sfResponse.statusText}`)
                const sfData = await sfResponse.json();
                // Filter out non auto break-ins and extract lat/lon
                sfData.forEach(entry => {
                    if (true) { // Adjust condition as necessary
                        heatMapData.unshift(new google.maps.LatLng(entry.latitude, entry.longitude));
                    }
                });
    
                // Fetch crime data from your API
                const oaklandResponse = await fetch('https://data.oaklandca.gov/resource/ym6k-rx7a.json');
                const oaklandData = await oaklandResponse.json();
                // Process the fetched data and add heat map layer
                oaklandData.forEach(entry => {
                    const coordinates = entry.location_1.coordinates;
                    heatMapData.unshift(new google.maps.LatLng(coordinates[1], coordinates[0]));
                });
    
            } catch (error) {
                console.error('Error fetching data:', error);
            }
            console.log('heatMapData: ', heatMapData);
            return heatMapData;
        }
    </script>
    

    <!-- Include the Google Maps JavaScript API with your key -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEd0GPZ8z6hu3y8uT7qizEBFj_Nvqmmz0&loading=async&callback=initMap&libraries=visualization">
    </script>
</body>

</html>